<nav>
  <ul style="padding-bottom: 30px;">
    <li style="display: inline; padding-right: 30px;"><a href="/">Home</a></li>
    <li style="display: inline;"><a href="/login">Login</a></li>
  </ul>
</nav>
